<h2><%= @list.name %></h2>
<p>
	<%= link_to "Delete List", @list, :method => :delete, :data => { :confirm => 'Are you sure?' } %> |
	<%= link_to "Show all lists", lists_path %>
</p>

<%= render 'tasks/form' %>

<div class="row">
	<div class='incomplete-tasks col-md-6'>
		<h4>Incomplete:</h4>

		<ul class="list-group">
		  <% @list.incomplete_tasks.each do |task| %>
		    <li class="list-group-item">
		    	<%= render task %>
		    </li>
		  <% end %>
		</ul>
	</div>

	<div class='complete-tasks col-md-6' >
		<h4>Complete:</h4>

		<ul class='list-group'>
		  <% @list.complete_tasks.each do |task| %>
		    <li class='list-group-item'>
		    	<%= render task %>
		    </li>
		  <% end %>
		</ul>
	</div>
</div>
