<h2><%= @list.name %></h2>

<%= render 'tasks/form' %>

<ul class="list-group">
  <% @tasks_not_complete.each do |task| %>
    <li class="list-group-item">
    	<span><%= task.name %></span>
    	<%= link_to 'edit', edit_task_path(task) %>
    </li>
  <% end %>
</ul>

<h4>Complete:</h4>

<ul>
  <% @tasks_complete.each do |task| %>
    <li><%= link_to task.name, edit_task_path(task) %></li>
  <% end %>
</ul>

<p><%= link_to "Delete List", @list, :method => :delete, :data => { :confirm => 'Poof!' } %></p>

<p><%= link_to "Show all lists", lists_path %></p>