<%= form_for @task do |f| %>
	<% if @task.errors.any? %>
	  <h4>Your task has some serious issues...</h4>
	  <ul>
	    <% @task.errors.full_messages.each do |message| %>
	      <li><%= message %></li>
	    <% end%>
	  </ul>
	<% end%>

	<%= f.hidden_field :list_id %>
	<div class='input-group'>
	  <%= f.text_field :name, :class => 'form-control', :placeholder => 'What do you need to do?' %>
	  <span class='input-group-btn'>
			<%= f.button :submit, :class => 'btn btn-info' %>
		</span>
	</div>
<% end %>